<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Create a Booking for a <%= @instrument.name %> at <%= @instrument.city %></div>
        <div class="card-body">
          <%= form_for [@instrument, @booking], html: { class: 'form-horizontal' } do |f| %>

            <!-- Start Date Field -->
            <div class="form-group row">
              <%= f.label :start_date, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.date_field :start_date, class: 'form-control', required: true %>
              </div>
            </div>

            <!-- End Date Field -->
            <div class="form-group row">
              <%= f.label :end_date, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.date_field :end_date, class: 'form-control', required: true %>
              </div>
            </div>

            <!-- Additional fields go here -->

            <!-- Submit Button -->
            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <%= f.submit 'Create Booking', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
