<h1>Your Dashboard</h1>


<h2> Manage Bookings </h2>
<% @bookings.each do |booking| %>
  <div>
    Instrument: <%= booking.instrument.name %><br>
    Start Date: <%= booking.start_date %><br>
    End Date: <%= booking.end_date %><br>
    <hr>
  </div>
  <%= link_to "Delete",
    booking_path(booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
 <hr>
<h2> Manage Instruments </h2>
<% @instruments.each do |instrument| %>
  <div>
    Instrument: <%= instrument.name %><br>
    Location: <%= instrument.city %><br>
  </div>
  <%= link_to "Delete instrument", instrument_path(instrument), data: { turbo_method: :delete, confirm: "Are you sure?" }%>
  <hr>
<% end %>

<%= link_to "Create Instrument", new_instrument_path %>

<%= link_to "Back to Instruments", instruments_path %>
