<%= form_for @instrument, html: { class: "needs-validation", novalidate: "" } do |f| %>
    <div class="form-group">
      <%= f.label :name, "What instrument do you play?", class: "form-label" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :city, class: "form-label" %>
      <%= f.text_field :city, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control", rows: "4", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control" %>
      <small class="form-text text-muted">Upload an image of the instrument.</small>
    </div>

    <div class="form-group">
      <%= f.label :available, "Availability", class: "form-label" %>
      <%= f.number_field :available, class: "form-control", required: true %>
      <small class="form-text text-muted">Availability in minutes per day</small>
    </div>

    <div class="form-group">
      <%= f.label :price, class: "form-label" %>
      <%= f.number_field :price, class: "form-control", step: "0.01", required: true %>
      <small class="form-text text-muted">How much you charge per day</small>
    </div>

    <div class="form-group">
      <%= f.label :genre, class: "form-label" %>
      <%= f.text_field :genre, class: "form-control", required: true %>
    </div>

    <div class="form-group mt-4">
      <%= f.submit "Add Instrument", class: "btn btn-primary" %>
    </div>
  <% end %>
