<%= simple_form_for @instrument, html: { class: "needs-validation", novalidate: "" } do |f| %>
  <div class="form-group">
    <%= f.input :name, label: "What instrument do you play?", required: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :city, required: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :description, required: true, input_html: { class: 'form-control', rows: '4' } %>
  </div>

  <div class="form-group">
    <%= f.input :photo, as: :file %>
    <small class="form-text text-muted">Upload an image of the instrument.</small>
  </div>

  <div class="form-group">
    <%= f.input :available, label: "Availability", required: true, input_html: { class: 'form-control' } %>
    <small class="form-text text-muted">Availability in minutes per day</small>
  </div>

  <div class="form-group">
    <%= f.input :price, required: true, input_html: { class: 'form-control', step: '0.01' } %>
    <small class="form-text text-muted">How much you charge per day</small>
  </div>

  <div class="form-group">
    <%= f.input :genre, required: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group mt-4">
    <%= f.button :submit, "Add Instrument", class: "btn btn-primary" %>
  </div>
<% end %>
