<h1>Musicians in <%= params[:city] %></h1>

<%= form_tag instruments_path, method: :get do %>
  <%= hidden_field_tag :city, params[:city] %>
  <%= text_field_tag :name, params[:name], placeholder: "Search for instrument..." %>
  <%= submit_tag "Search", class: "btn btn-info mb-3" %> <!-- Added some classes for better styling -->
<% end %>

<div class="row">
  <% @instruments.each do |instrument| %>
    <div class="col-md-4 mb-4"> <!-- Adjust the column size (col-md-4) as required -->
      <div class="card">
        <% if instrument.image.present? %> <!-- Check if there's an image URL before rendering -->
          <img src="<%= instrument.image %>" class="card-img-top" alt="<%= instrument.name %>">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= instrument.name %></h5>
          <p class="card-text">
            City: <%= instrument.city %><br>
            Genre: <%= instrument.genre %><br>
            Description: <%= instrument.description %>
          </p>
          <p class="card-text">
            Availability: <%= instrument.available %> minutes<br>
            Price: $<%= instrument.price %>
          </p>
          <%= link_to "Check Profile", instrument_path(instrument), class: "btn btn-primary" %>
          <%= link_to "Delete instrument", instrument_path(instrument), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger mt-2" %> <!-- Added margin-top for better spacing -->
        </div>
      </div>
    </div>
  <% end %>
</div>
