<h1>Musicians in <%= params[:city] %></h1>

<%= form_tag instruments_path, method: :get do %>
  <%= hidden_field_tag :city, params[:city] %>
  <%= text_field_tag :name, params[:name], placeholder: "Search for instrument..." %>
  <%= submit_tag "Search" %>
<% end %>


<% @instruments.each do |instrument| %>
  <div>
    <h3>Name: <%= instrument.name %></h3>
    <p>City: <%= instrument.city %></p>
    <%= link_to "Check Profile", instrument_path(instrument), class: "btn btn-primary" %>
    <% if current_user == instrument.user %>
      <li class="list-group-item">
        <%= link_to "Delete instrument", instrument_path(instrument), data: {  turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </li>
    <% end %>
  </div>
<% end %>

<%= link_to "Add a New Instrument", new_instrument_path %>
