<h1 class="page-title">Musicians in <%= params[:city] %></h1>

<%= form_tag instruments_path, method: :get, class: "search-form" do %>
  <%= hidden_field_tag :city, params[:city] %>
  <%= text_field_tag :name, params[:name], placeholder: "Search for instrument...", class: "search-input" %>
  <%= submit_tag "Search", class: "search-button" %>
<% end %>

<div class="instrument-grid">
  <% @instruments.each do |instrument| %>
    <div class="instrument-card">
      <% if instrument.image.attached? %>
          <%= image_tag instrument.image, class: "instrument-card__img", alt: instrument.name %>
      <% end %>
      <h2><%= instrument.name %></h2>
      <p class="text-show-page"> <%= instrument.description %></p>
      <p>Posted by: <%= instrument.user.username %></p>
      <p><%= instrument.city %></p>
      <p>From price: <%= instrument.price %></p>

      <%= link_to "Check Instrument", instrument_path(instrument), class: "mr-2" %>
    </div>
  <% end %>
</div>

<div class="links_container">
  <div class="links">
    <%= link_to "Add a New Instrument", new_instrument_path, class: "link" %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "link" %>
  </div>
</div>
