<h1>Musicians in <%= params[:city] %></h1>

<%= form_tag instruments_path, method: :get do %>
  <%= hidden_field_tag :city, params[:city] %>
  <%= text_field_tag :name, params[:name], placeholder: "Search for instrument..." %>
  <%= submit_tag "Search" %>
<% end %>


<% @instruments.each do |instrument| %>
  <div>
    <h3><%= instrument.name %></h3>
    <p>City: <%= instrument.city %></p>
    <%= button_to "Check Profile", , method: :post %>
  </div>
<% end %>
