<h1 class="page-title">Musicians in <%= params[:city] %></h1>

<%= form_tag instruments_path, method: :get, class: "search-form" do %>
  <%= hidden_field_tag :city, params[:city] %>
  <%= text_field_tag :name, params[:name], placeholder: "Search for instrument...", class: "search-input" %>
  <%= submit_tag "Search", class: "search-button" %>
<% end %>

<div class="instrument-grid">
  <% @instruments.each do |instrument| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if instrument.image.attached? %>
            <%= image_tag instrument.image, class: "card-img-top", alt: instrument.name %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= instrument.name %></h5>
          <p class="card-text">
            City: <%= instrument.city %><br>
            Genre: <%= instrument.genre %><br>
            Description: <%= instrument.description %><br>
            Posted by: <%= instrument.user.username %>
          </p>
          <p class="card-text">
            Availability: <%= instrument.available %> minutes/day<br>
            Price: $<%= instrument.price %>
          </p>
          <div class="d-flex justify-content-between mt-3">
              <%= link_to "Check Profile", instrument_path(instrument), class: "btn btn-primary mr-2" %>
              <% if current_user == instrument.user %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="links_container">
  <div class="links">
    <%= link_to "Add a New Instrument", new_instrument_path, class: "link" %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "link" %>
  </div>
</div>
