<div class="show-container">
  <div class="show-row">
    <div class="show-col">
      <div class="show-card">
        <h1 class="show-title"><%= @name %></h1>
        <% if @instrument.photo.attached? %>
          <%= cl_image_tag @instrument.photo.key, class: "card-img-top", alt: @instrument.name %>
        <% end %>
      <div class="show-description">
          <p class="text_card"> City: <%= @city %></p>
          <p class="text_card"> Genre: <%= @genre %></p>
          <p class="text_card"> Description: <%= @description %></p>
          <p class="text_card"> Availability: <%= @available %> minutes/day</p>
          <p class="text_card"> Price: $<%= @price %></p>
          <div class="show-links-container">
            <% if current_user == @instrument.user %>
              <%= link_to "Edit", edit_instrument_path(@instrument), class: "show-link" %>
              <%= link_to "Delete", instrument_path(@instrument), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "show-link" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="show-center">

        <% if user_signed_in? %>
          <%= link_to 'Book', new_instrument_booking_path(@instrument), class: 'show-link' %>
        <% else %>
          <%= link_to 'Log in to book this instrument', new_user_session_path, class: 'show-link' %>
        <% end %>
      </div>
        <div class="links_container">
          <div class="links">
          <%= link_to "Back to Instruments", instruments_path, class: 'link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
